.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.launchBtnGroup {
  position: absolute;
  max-width: 90vw;
  width: 400px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.launchBtnTransition {
  transition: width 0.6s ease-out, opacity 0.3s ease-in 0.7s;
}

.launchBtnFadeAnim {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.launchBtns {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-top: 2px solid;
  border-bottom: 2px solid;
  font-size: 20px;
  font-weight: 500;
  font-family: 'MontReg';
  letter-spacing: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.launchBtns:hover {
  background-color: white;
  color: #050017;
  font-weight: 700;
}

.launchBtn {
  width: 80%;
  height: 100%;

}

.launchBtnExpand {
  width: 100%;
  height: 100%;
  background-color: white;
  color: #050017;
  font-weight: 700;
  opacity: 0;
  cursor: auto;
}

.sfxBtn {
  width: 15%;
  height: 100%;
  margin-left: 2%;
}

.sfxBtnShrink {
  display: none;
}

.sfxBtnImg {
  height: 32px;
  width: 32px;
}

@font-face {
  font-family: MontReg;
  src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MontBold;
  src: url(./fonts/Montserrat-Bold.ttf);
}

.mainPage {
  position: relative;
  max-width: 2000px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
}

:root {
  --name-font-size: calc(30px + 5vw);
  --name-title-font-size: calc(12px + 2vw);
  --name-title2-font-size: calc(16px + 2.6vw);
}

.nameDiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'MontBold';
  font-size: var(--name-font-size);
  margin: auto;
}

.nameGrowAnim {
  animation-name: nameGrow;
  animation-duration: 1.05s;
  animation-timing-function: ease-out;
}

@keyframes nameGrow {
  from {font-size: 0;}
  to {font-size: var(--name-font-size);}
}

.nameTitleFade {
  animation-name: nameTitleFade;
  animation-duration: 4.05s;
  animation-timing-function: ease-out;
}

@keyframes nameTitleFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.nameTitleFade2 {
  animation-name: nameTitleFade2;
  animation-duration: 6.05s;
  animation-timing-function: ease-out;
}

@keyframes nameTitleFade2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.nameBtnFade {
  animation-name: nameBtnFade;
  animation-duration: 9.05s;
  animation-timing-function: ease-out;
}

@keyframes nameBtnFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.nameTitle {
  color: white;
  font-family: 'MontReg';
  font-size: var(--name-title-font-size);
}

.nameTitle2 {
  color: white;
  font-family: 'MontReg';
  font-size: var(--name-title2-font-size);
}

.nameBtn {
  color: white;
  font-family: 'MontBold';
  font-size: var(--name-title2-font-size);
  margin: 25px auto;
  padding: 10px 0px;
  border-width: 3px;
  border-color: white;
  border-style: solid;
  width: 75%;
}

.nameBtn:hover {
  background-color: white;
  color: #050017;
  font-weight: 700;
  cursor: pointer;
}

.navbarFade {
  animation-name: navbarFade;
  animation-duration: 9.55s;
  animation-timing-function: ease-out;
}

@keyframes navbarFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.navBar {
  position: absolute;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  color: white;
  margin: auto;
  z-index: 100;
}

.navBarButton {
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'MontReg';
  font-size: 20px;
  margin: auto;
  cursor: pointer;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navBarButton:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
