.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.launchBtns {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-top: 2px solid;
  border-bottom: 2px solid;
  font-size: 20px;
  font-weight: 500;
  font-family: 'MontReg';
  letter-spacing: 4px;
  cursor: pointer;
}

.launchBtns:hover {
  background-color: white;
  color: #050017;
  font-weight: 700;
}

.launchBtn {
  width: 80%;
  height: 100%;
}

.sfxBtn {
  width: 18%;
  height: 100%;
  margin-left: 2%;
}

@font-face {
  font-family: MontReg;
  src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MontBold;
  src: url(./fonts/Montserrat-Bold.ttf);
}
